.RData
.RDataTmp
.Rhistory
.Rproj.user/
SINASC_2015.csv
SINASC_RO.csv
SINASC_RO
SINASC_RO.rds
aux.rds
backup.rds
dados_sinasc.rds
dados_sinasc_1.rds
dados_sinasc_2.rds
tabela_pig_brasil.rds
.RDataTmp1
Mortalidade_Geral_2015.csv
script_extensao_etapa_1.R
extensao-esqueleto1.R
SIM_RO.csv
script_extensao_dados_sinasc_2.R
dados_sim_2.csv
Tabela_PIG_Brasil.csv
dados_sinasc_2.csv
extensao-esqueleto-orientações-etapa-2.R
script_extensao_etapa_2.R
script_extensao_dados_sinasc_2.R
